<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
    <%- include('layout/nav.ejs') %>

      <table class="table  is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>n°User</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% results.forEach(function(result){ %>
           <tr>
            <th><%= result.id_user %></th>
            <td><%= result.name %></td>
            <td><a target="_blank" href="mailto:<%=result.email%>"><%= result.email %></a></td>
            <td><%= result.age %></td>
            <td data-idUser="<%= result.id_user %>" class="delete91380"><i class="far fa-trash-alt"></i></td>
            <td data-idUser="<%= result.id_user %>" class="edit_icon"><a href="/edit/<%= result.id_user %>"><i class="far fa-edit"></i></a></td>
          </tr>
        <% }); %>
        </tbody>
      </table>
</body>
</html>

<style>
  .delete91380{
    cursor: pointer;
    transition: color ease-in 0.2s;
  }

  .edit_icon {
    cursor: pointer;
  }
  .edit_icon i {
    text-decoration: none;
    color: black;
  }

  .delete91380:hover{
    color: red;
  }
  .none{
    display: none;
  }
</style>

<script>

  const deleteIcon = document.querySelectorAll(".delete91380")
  const edit_icon = document.querySelectorAll(".edit_icon")
  console.log(edit_icon);
  deleteIcon.forEach(Icon =>{
    Icon.addEventListener("click", () =>{
      console.log(Icon.getAttribute("data-iduser"))

      fetch(`/delete/${Icon.getAttribute("data-iduser")}`).then(res => console.log(res.json) ).then(Icon.parentNode.classList.add("none"))
    })
  })






  // edit_icon.forEach((edit_icon, index) => {
  //   let click = 0;
  //   edit_icon.addEventListener("click", () => {
  //     click++
  //     edit_icon.parentNode.children[1].outerHTML = `<td><input type="email" value='${edit_icon.parentNode.children[1].outerHTML}'></td>`
  //     edit_icon.parentNode.children[2].outerHTML = `<td><input type="email" value='${edit_icon.parentNode.children[2].children[0].outerHTML}'></td>`
  //     edit_icon.parentNode.children[3].outerHTML = `<td><input type="email" value='${edit_icon.parentNode.children[3].innerHTML}'></td>`
  //     edit_icon.innerHTML = '<i class="fas fa-check"></i>'

  //     if(click > 1) {
  //       console.log('okgoogle');
  //       edit_icon.parentNode.children[1].outerHTML = `<td>${edit_icon.parentNode.children[1].innerHTML}'</td>`
  //       edit_icon.parentNode.children[2].outerHTML = `<td>${edit_icon.parentNode.children[2].innerHTML}'</td>`
  //       edit_icon.parentNode.children[3].outerHTML = `<td>${edit_icon.parentNode.children[3].innerHTML}'</td>`
  //     }
  //   })
  // })
</script>